# Backend
/backend/node_modules/
/backend/dist/
/backend/src/generated/prisma
/backend/.env
/backend/.env.*
/backend/coverage/
/backend/**/*.log
/backend/tmp/

# Frontend
/frontend/node_modules/
/frontend/dist/
/frontend/.env
/frontend/.DS_Store
/frontend/Thumbs.db
