@import "normalize.css";
* {
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;

  .pagination .page-link {
    color: #b8b8bb;
    border-color: #dee2e6;
  }
  .pagination .page-item.active .page-link {
    background-color: #f59c00;
    border-color: #f59c00;
    color: #fff;
  }
  .pagination .page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
  }

  .btn-default {
    background-color: #f59c00;
    color: white;
    transition: background-color 0.3s ease;
  }

  .btn-default:hover {
    filter: brightness(0.9);
  }

  .text-danger-default {
    font-weight: 600;
    color: #dc3545;
    font-size: small;
  }
}
